<div class="page-header" align="center">
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
  <img src="<%= @user.profile_picture %>" class="img-responsive" align="middle">
  <a href="<%= @user.linkedin_url %>">
    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" class="img-responsive" align="middle">
  </a>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 centered">
    <dl class="dl-horizontal">

      <dt>Current Position</dt>
      <dd><%= @user.title + " at " + @user.company %></dd>

      <dt>Summary</dt>
      <dd><%= @user.summary %></dd>

      <dt>Interests</dt>
      <dd><%= @user.interests %></dd>

    </dl>

  </div>
</div>

<!-- A User has many hosted events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <%= @user.first_name + " has hosted " + @hosted_count.to_s + " BrownBag event(s) " %>
      </li>

      <% @user.events.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.title + " at " + event.restaurant.name + " on " + event.event_date.strftime("%D") %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <%if current_user == event.user %>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many attended_events -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <%= @user.first_name + " has attended " + @attended_count.to_s + " BrownBag event(s) " %>
      </li>

      <% @user.attended_events.each do |event| %>
      <% if event.user_id != @user.id %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.title + " at " + event.restaurant + " on " + event.event_date.strftime("%D") %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == event.user %>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/users" class="btn btn-primary">
    Back to Browsing the BrownBag Network
  </a>
</div>

<!-- A User has many connections (people who one has had an event with. WORK IN PROGRESS, NOT A PRIORITY USER STORY) -->
<!--
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Connections (anyone who I have had an event with)
      </li>

      <% @user.reservations.each do |reservation| %>
        <li class="list-group-item">
          <a href="/reservations/<%= reservation.id %>">
            <%= reservation.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == reservation.user %>
              <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->
