<!-- Validation failure messages -->
<% if @reservation.errors.any? %>
  <% @reservation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Reservation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_reservation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value = "<% current_user.id %>">
      <!-- <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @reservation.user_id), :class => "form-control") %>
      </div> -->

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :title, @reservation.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for confirmed -->
      <input type="hidden" name="confirmed" value = false >

      <!-- Label and input for host_approval -->
      <input type="hidden" name="host_approval" value = false >

      <!-- Label and input for guest_approval -->
      <input type="hidden" name="guest_approval" value = true >

      <!-- Label and input for public_request -->
      <input type="hidden" name="public_request" value = true >

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @reservation.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @reservation.description %></textarea>
      </div>

      <button class="btn btn-success">
        Create Reservation
      </button>
      or
      <a href="/reservations">Cancel</a>
    </form>
  </div>
</div>
